html {
}

/*
 * Global layout stuff
 */

nav {  
  line-height: 1.15;
  color: #ffffff;
  background-color: #4056A1;
  font-size: 30px;
  font-family: 'Bungee', cursive;
  height: 120px;
  text-indent: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.right-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-right: 50px;
}
.arrow{
  color:red ;
  font-size: medium;
}
